// Frame size
$bottomNavHeight: 64px;
$topNavHeight: 64px;
$tipBorderLength: 220px;


// Font size
$mainFontSize: 14px;
$tabFontSize: 14px;
$tipTopFontSize: 16px;
$tipStrongFontSize: 64px;
$tipLinkFontSize: 14px;
$primaryBtnFontSize: 16px;
$formFontSize: 16px;
$confirmFontSize: 20px;
$titleFontSize: 18px;
$briefFontSize: 14px;
$radioFontSize: 24px;
$svgFontSize: 24px;

// Font color
$mainFontColor: #555;
$linkFontColor: #999;
$navLinkFontColor: #666f83;
$primaryBtnFontColor: #fff;
$confirmBtnColor: #2f86f6;

// Background color
$mainBgColor: #fff;
$noticeBgColor: #fff;
$loadingBgColor: #fff;
$coverBgColor: rgba(255, 255, 255, 0.3);
$bottomNavBgColor: #fff;
$primaryBtnBgColor:#57c595;
$mapToolBgColor: #fff;

// Border
$tipDashedBorder: dashed 4px $linkFontColor;
$buttonBorder: solid 1px $linkFontColor;
$toolRightBorder: solid 1px #afaeae;

// Box-shadow
$toolBoxShadowColor: 0px 0px 30px #afaeae;
$boxShadowColor: 0px 8px 30px #afaeae;
$boxShadowSearchColor: 0px 0px 10px #afaeae;